body {
    margin-left: 15%;
    margin-right: 15%;
    background: linear-gradient(to right, #F5F5F5, #D3D3D3);
    font-family: Arial, sans-serif;
}

nav#nav_menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #333;
}

nav#nav_menu ul li {
    display: inline;
}

nav#nav_menu ul li a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
}

nav#nav_menu ul li a:hover,
nav#nav_menu ul li a.active {
    background-color: #555;
}

header {
    text-align: center;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20%;
    border-color: #0056b3;
    border-style: ridge;
    background: linear-gradient(to right, #F5F5F5, #D3D3D3);
}

#april-sykes {
    width: 20%;
    max-width: 200px;
    height: auto;
}

main {
    text-align: center;
    background: linear-gradient(to right, #F5F5F5, #D3D3D3);
    font-size: 100%;
}

#about_me {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}

#about_me_title {
    display: inline-block;
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #0056b3;
    padding-top: 90px;
}

#work_history {
    font-family: sans-serif;
    font-weight: bold;
    column-count: 3;
    column-gap: 20px;
    column-rule: 2px solid #2B2B2B;
    column-gap: 20px;
    display: flex;
    background: linear-gradient(to right, #F5F5F5, #D3D3D3);
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
    text-align: left;
}

#employers {
    text-align: center;
}

#quote q {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #007BFF;
    padding-top: 10px;
    display: inline-block;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
}

#linkedin a:visited {
    color: #7111df;
    text-decoration: none;
}

#linkedin a:hover {
    font-size: 200%;
    color: #0056b3;
    text-decoration: none;
}

.linkedin-logo {
    width: 80px;
    height: auto;
    vertical-align: middle;
    text-decoration: none;
}

#linkedin a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

footer {
    text-align: center;
}

ol {
    list-style-position: inside;
    padding-left: 0;
    text-align: center;
}

ol li {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

#work_history>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#work_history>div>div {
    flex: 1 1 100%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#work_history>div>div:not(:first-child) {
    border-left: 2px solid #ccc;
}

#employers_images img.small_logo {
    width: 30%;
    height: auto;
}

h4 {
    display: inline-block;
    border: 1px groove;
    border-radius: .25em;
    text-align: center;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, #F5F5F5, #D3D3D3);
    padding: 5px 10px;
    color: #0056b3;
    border-color: #0056b3;
}

#april-sykes {
    border-radius: 5%;
    border-style: double;
    border-color: #0056b3;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#nav_menu {
    width: 100%;
    background: linear-gradient(to right, #F5F5F5, #D3D3D3);
    text-align: center;
    overflow: auto;
    border-radius: 5%;
    border-style: ridge;
    margin-bottom: 20px;
    border-color: #0056b3;
}

#nav_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#nav_menu ul li {
    flex-basis: 33%;
}

#nav_menu ul li a {
    display: block;
    padding: 1em 0;
    text-decoration: none;
    color: #000000;
    width: auto;
    font-weight: bold;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul li:hover>ul {
    display: block;
}

#nav_menu ul ul li {
    float: none;
    display: block;
}

#nav_menu>ul::after {
    content: "";
    display: table;
    clear: both;
}

#nav_menu ul li a:hover,
#nav_menu ul li a:focus {
    background-color: #7db90f;
}

#nav_menu ul li a.active {
    background-color: #28A745;
    color: #FFFFFF;
}

#upcoming-projects {
    background-color: #FFA500;
    color: #FFFFFF;
    padding: 20px;
    margin-left: 75px;
    margin-right: 75px;
    border: #FFA500;
    border-radius: 50%;
    border-style: inherit;
    font-family: 'Arial Black', Gadget, sans-serif;
    text-align: center;
}

/* Work History */
@media (min-width: 550px) {
    #work_history>div>div {
        flex: 1 1 45%;
    }

    #work_history {
        font-size: 14px;
    }
}

@media (min-width: 950px) {
    #work_history>div>div {
        flex: 1 1 30%;
    }
}

@media (max-width: 775px) {
    #nav_menu ul {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    #upcoming-projects {
        font-size: 10px;
    }
}

@media (max-width: 605px) {
    #upcoming-projects {
        font-size: 12px;
    }
}

@media (max-width: 730px) {
    #upcoming-projects {
        font-size: 14px;
    }
}

@media (max-width: 605px) {
    .third_text {
        font-size: 10px;
    }
}

@media (max-width: 885px) {
    .third_text {
        font-size: 12px;
    }
}

@media (max-width: 1340px) {
    .third_text {
        font-size: 14px;
    }
}