.first_text {
    font-family: Georgia, serif;
    font-size: 250%;
    font-weight: bold;
    color: #0056b3;
    text-shadow: 2px 2px 4px #000000;
    /* Soft shadow*/
    text-align: center;
}

.second_text {
    color: #2B2B2B;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.third_text {
    color: #2B2B2B;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a[href*="linkedin"] {
    color: #007BFF;
}

header {
    text-align: center;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border: #000000;
    border-radius: 20%;
    border-color: #28A745;
    border-style: ridge;
    background: linear-gradient(to right, #F5F5F5, #D3D3D3);

}

body {
    margin: 0;
    padding: 0;
}


main {
    text-align: center;
    background-color: #F5F5F5;
    font-size: 125%;
}

section {
    text-align: center;
}

#about_me p {
    color: #555;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 100;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 25px;
}

#about_me_title {
    display: inline-block;
    text-align: center;
    font-size: x-large;
    font: bold;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    color: black;
}

section#work_history {
    font-family: sans-serif;
    font-weight: bold;
    column-count: 3;
    column-gap: 20px;
    column-rule: 2px solid #2B2B2B;
    column-gap: 20px;
    background-color: #F5F5F5;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
    text-align: left;
}

section#employers {
    text-align: center;
}

section#quote q {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #007BFF;
    padding-top: 10px;
    display: inline-block;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
}

section#linkedin a:visited {
    color: #7111df;
}

section#linkedin a:hover {
    font-size: 200%;
    color: #34a0f8;
}

footer {
    text-align: center;
}

ol {
    list-style-position: inside;
    padding-left: 0;
    text-align: center;
}

ol li {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

#work_history_title {
    display: inline-block;
    border: 1px groove;
    border-radius: .25em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, #F5F5F5, #D3D3D3);
    padding: 5px 10px;
    color: #000000;
    border-color: #28A745;
}

#employers {
    text-align: center;
    margin-bottom: 150px;
}

h4 {
    display: inline-block;
    border: 1px groove;
    border-radius: .25em;
    text-align: center;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, #F5F5F5, #D3D3D3);
    padding: 5px 10px;
    color: #000000;
    border-color: #28A745;
}

#april-sykes {
    border-radius: 5%;
    border-style: double;
    border-color: #28A745;
    max-width: 100%;
    /* Makes the image responsive */
    height: auto;
    /* Maintains the aspect ratio */
    display: block;
    /* Prevents inline default */
    margin: 0 auto;
    /* Centers the image if it's smaller than its container */
}

.small_logo {
    width: 150px;
}

.last_page {
    padding-top: 25px;
}



#nav_menu {
    width: 100%;
    background: linear-gradient(to right, #F5F5F5, #D3D3D3);
    text-align: center;
    /* Center the menu items */
    overflow: auto;
    /* Clear floats */
    border: #000000;
    border-radius: 5%;
    border-style: ridge;
    margin-bottom: 20px;
    border-color: #28A745;
}

#nav_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: space-around;
    /* Distribute menu items evenly */
}

#nav_menu ul li {
    display: inline-block;
    /* Inline-block for horizontal listing without float */
}

#nav_menu ul li a {
    display: block;
    padding: 1em 0;
    text-decoration: none;
    color: #000000;
    /* Text color */
    background: none;
    /* Override if needed */
    width: auto;
    /* Adjust based on content */
    font-weight: bold;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul li:hover>ul {
    display: block;
}

#nav_menu ul ul li {
    float: none;
    display: block;
    /* Display submenu items vertically */
}

#nav_menu>ul::after {
    content: "";
    display: table;
    clear: both;
}


#nav_menu ul li a:hover,
#nav_menu ul li a:focus {
    background-color: #7db90f;
    /* Hover background color */
}

#upcoming-projects {
    background-color: #FFA500;
    color: #FFFFFF;
    padding: 20px;
    margin-left: 75px;
    margin-right: 75px;
    border: #FFA500;
    border-radius: 50%;
    border-style: inherit;
    font-family: 'Arial Black', Gadget, sans-serif;
    /* A bold, noticeable font */
    text-align: center;
}