.first_text {
    font-family: Georgia, serif;
    font-size: 250%;
    font-weight: bold;
    color: #0056b3;
    text-shadow: 2px 2px 4px #000000;
    /* Soft shadow*/
    text-align: center;
}

.second_text {
    color: #2B2B2B;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.third_text {
    color: #2B2B2B;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    text-align: center;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border: #000000;
    border-radius: 20%;
    border-color: #28A745;
    border-style: ridge;
    background: linear-gradient(to right, #F5F5F5, #D3D3D3);
}

#april-sykes {
    width: 20%;
    /* Allows the image to scale based on its container's width */
    max-width: 200px;
    /* Maximum width of the image */
    height: auto;
    /* Maintains the aspect ratio of the image */
}

body {
    margin-left: 15%;
    margin-right: 15%;
    background: linear-gradient(to right, #F5F5F5, #D3D3D3);

}


main {
    text-align: center;
    background: linear-gradient(to right, #F5F5F5, #D3D3D3);

    font-size: 100%;
}

section {
    text-align: center;
}

#about_me {
    margin-left: 20px;
    margin-right: 20px;
}



#about_me_title {
    display: inline-block;
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding-top: 90px;
}

#work_history {
    font-family: sans-serif;
    font-weight: bold;
    column-count: 3;
    column-gap: 20px;
    column-rule: 2px solid #2B2B2B;
    column-gap: 20px;

    background: linear-gradient(to right, #F5F5F5, #D3D3D3);
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
    text-align: left;
}

#employers {
    text-align: center;
}

#quote q {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #007BFF;
    padding-top: 10px;
    display: inline-block;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
}

#linkedin a:visited {
    color: #7111df;
    text-decoration: none;
}

#linkedin a:hover {
    font-size: 200%;
    color: #34a0f8;
    text-decoration: none;
}

.linkedin-logo {
    width: 80px;
    height: auto;
    vertical-align: middle;
    text-decoration: none;
}

#linkedin a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

footer {
    text-align: center;
}

ol {
    list-style-position: inside;
    padding-left: 0;
    text-align: center;
}

ol li {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

#work_history_title {
    display: inline-block;
    border: 1px groove;
    border-radius: .25em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, #F5F5F5, #D3D3D3);
    padding: 5px 10px;
    color: #000000;
    border-color: #28A745;
}

#employers_images img.small_logo {
    width: 30%;
    /* Sets a fixed width for the logos, making them smaller */
    height: auto;
    /* Adjusts the height automatically to maintain the aspect ratio */
}

h4 {
    display: inline-block;
    border: 1px groove;
    border-radius: .25em;
    text-align: center;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, #F5F5F5, #D3D3D3);
    padding: 5px 10px;
    color: #000000;
    border-color: #28A745;
}

#april-sykes {
    border-radius: 5%;
    border-style: double;
    border-color: #28A745;
    max-width: 100%;
    /* Makes the image responsive */
    height: auto;
    /* Maintains the aspect ratio */
    display: block;
    /* Prevents inline default */
    margin: 0 auto;
    /* Centers the image if it's smaller than its container */
}

#nav_menu {
    width: 100%;
    background: linear-gradient(to right, #F5F5F5, #D3D3D3);
    text-align: center;
    /* Center the menu items */
    overflow: auto;
    /* Clear floats */
    border: #000000;
    border-radius: 5%;
    border-style: ridge;
    margin-bottom: 20px;
    border-color: #28A745;
}

#nav_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: space-around;
    /* Distribute menu items evenly */
}

#nav_menu ul li {
    display: inline-block;
    /* Inline-block for horizontal listing without float */
}

#nav_menu ul li a {
    display: block;
    padding: 1em 0;
    text-decoration: none;
    color: #000000;
    /* Text color */
    background: none;
    /* Override if needed */
    width: auto;
    /* Adjust based on content */
    font-weight: bold;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul li:hover>ul {
    display: block;
}

#nav_menu ul ul li {
    float: none;
    display: block;
    /* Display submenu items vertically */
}

#nav_menu>ul::after {
    content: "";
    display: table;
    clear: both;
}


#nav_menu ul li a:hover,
#nav_menu ul li a:focus {
    background-color: #7db90f;
    /* Hover background color */
}

#nav_menu ul li a.active {
    background-color: #28A745;
    /* Background color for active item */
    color: #FFFFFF;
    /* Text color for active item */
}


#upcoming-projects {
    background-color: #FFA500;
    color: #FFFFFF;
    padding: 20px;
    margin-left: 75px;
    margin-right: 75px;
    border: #FFA500;
    border-radius: 50%;
    border-style: inherit;
    font-family: 'Arial Black', Gadget, sans-serif;
    text-align: center;

}

/*small Devices work_history*/
@media (min-width: 0px) {
    #work_history {
        column-count: 1;
    }
}

/*Medium Devices work_history*/

@media (min-width: 550px) {
    #work_history {
        column-count: 2;
    }
}

/*Large Screens work_history*/
@media (min-width: 950px) {
    #work_history {
        column-count: 3;
    }
}

/* Smaller font size nav_menu*/
@media (max-width: 800px) {
    #nav_menu {
        font-size: 8px;
    }
}

/* Smaller font size #work_history*/
@media (max-width: 550px) {
    #work_history {
        font-size: 8px;
    }
}

/* Smaller font size #work_history*/
@media (max-width: 1000px) {
    #work_history {
        font-size: 10px;
    }
}

@media (max-width: 1400px) {
    #about_me {
        font-size: 12px;
    }
}

@media (max-width: 950px) {
    #about_me {
        font-size: 10px;
    }
}

@media (max-width: 650px) {
    #about_me {
        font-size: 10px;
    }
}

@media (max-width: 730px) {
    #upcoming-projects {
        font-size: 12px;

    }
}

@media (max-width: 605px) {
    #upcoming-projects {
        font-size: 8px;
    }
}

@media (max-width: 500px) {
    #upcoming-projects {
        font-size: 4px;
    }
}

@media (max-width: 1340px) {
    .third_text {
        font-size: 12px;
    }
}

@media (max-width: 885px) {
    .third_text {
        font-size: 8px;
    }
}

@media (max-width: 605px) {
    .third_text {
        font-size: 4px;
    }
}