/* Global Styles */
body {
    margin-left: 15%;
    margin-right: 15%;
    background: linear-gradient(to right, #121212, #232323);
    color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Navigation Menu Styles */
nav#nav_menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #333333;
}

nav#nav_menu ul li {
    display: inline;
}

nav#nav_menu ul li a {
    color: #ffffff;
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
}

nav#nav_menu ul li a:hover,
nav#nav_menu ul li a.active {
    background-color: #555555;
}

/* Main Content Paragraph Styles */
main p {
    text-align: center;
    margin-bottom: 20px;
}

/* Screenshot Container Styles */
.screenshot_container {
    border: 2px solid #4a86e8;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two-column layout by default */
    grid-gap: 16px;
}

/* Screenshot Styles */
.screenshot {
    max-width: 80%;
    height: auto;
    background-color: #f8c291;
    margin: 0 auto;
    padding: 10px;
}

.screenshot img {
    width: 100%;
    height: auto;
}

/* Individual Screenshot Background Colors */
#s2 {
    background-color: #6a89cc;
}

#s3 {
    background-color: #82ccdd;
}

#s4 {
    background-color: #b8e994;
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: #333333;
    color: white;
    font-family: Abhaya Libre, sans-serif;
}

/* Back to Top Link Styles */
.back-to-top {
    display: block;
    text-align: center;
    color: #4a86e8;
    text-decoration: underline;
    margin: 20px auto;
}

.back-to-top:hover {
    text-decoration: underline;
}

/* Media Queries for Responsive Adjustments */
@media (max-width: 1024px) {
    .screenshot_container {
        grid-template-columns: 1fr;
        /* Single-column layout for small screens */
    }

    .screenshot {
        max-width: 100%;
        /* Allow screenshots to use full container width */
    }
}