/* Global Styles */
body {
    margin-left: ;
    margin-right: ;
    background-size: cover;
    background: linear-gradient(to right, #121212, #232323);
    background-position: center;
    color: #f0f0f0;
    font-family: Abhaya Libre, sans-serif;
}

/* Ensures nav#nav_menu takes up the appropriate space and centers its content */
nav#nav_menu {
    text-align: center;
    width: 100%;
}

nav#nav_menu ul {
    list-style-type: none;
    padding: 5px;
    display: inline-block;
    background-color: #333;
    border-radius: 25px;
    margin: 0 auto;
}

nav#nav_menu ul li {
    display: inline;
    margin: 0;
}

nav#nav_menu ul li a {
    color: #ffffff;
    padding: 5px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    margin: 0 2px;
}

nav#nav_menu ul li a:hover,
nav#nav_menu ul li a.active {
    background-color: hsl(0, 0%, 33%);
    border-radius: 15px;
}


/* Hero Section Styles */
.hero {
    color: #cdcdcd;
    text-align: center;
    padding: 100px 20px;
    background-image: url('../Images/tech_images/tech5.jpg');
}

.hero_content h1 {
    margin: 0;
    font-size: 2.5em;
}

.hero_content p {
    font-size: 1.2em;
}

/* Call to Action Button Styles */
.cta {
    display: inline-block;
    background-color: #0056b3;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Featured and Testimonials Section Styles */
.featured,
.testimonials {
    padding: 10px 20px;
    text-align: center;
    color: #f0f0f0;
}

/* Projects Container Styles */
.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Individual Project Styles */
.project {
    margin: 20px;
    padding: 20px;
    background-color: #242424;
    border-radius: 10px;
    width: calc(50% - 40px);
    color: #f0f0f0;
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: hsl(0, 0%, 20%);
    color: #ffffff;
}

/* Profile Picture Styles */
.profile-pic {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #0056b3;
    margin-bottom: 20px;
}

/* Font Awesome Icons */
.fa-server:before,
.fa-computer-mouse:before {
    font-family: "Font Awesome 5 Free";
}

.fa-server:before {
    content: "\f233";
}

.fa-computer-mouse:before {
    content: "\f8cc";
}

/* Responsive Design for Projects */
@media (max-width: 600px) {
    .project {
        width: calc(100% - 40px);
    }
}