body {
    margin-left: 15%;
    margin-right: 15%;
    background: linear-gradient(to right, #121212, #232323);
    /* Dark theme gradients */
    color: #f0f0f0;
    /* Light text for readability */
    font-family: Arial, sans-serif;
}

nav#nav_menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #333;
    /* Darker Gray */
}

nav#nav_menu ul li {
    display: inline;
}

nav#nav_menu ul li a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
}

nav#nav_menu ul li a:hover,
nav#nav_menu ul li a.active {
    background-color: #555;
    /* Medium Gray */
}

.hero {
    background: url('Images/april-sykes/profile-pic1.jpg') no-repeat center center/cover;
    /* Adjusted path for the hero image */
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero_content h1 {
    margin: 0;
    font-size: 2.5em;
}

.hero_content p {
    font-size: 1.2em;

}

.cta {
    display: inline-block;
    background-color: #0056b3;
    /* Bright Blue */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    /*Call To Action button */
}

.featured,
.testimonials {
    padding: 10px 20px;
    text-align: center;
    color: #f0f0f0;
    /* Light Gray for text */
}

.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    margin: 20px;
    padding: 20px;
    background-color: #242424;
    /* Very Dark Gray */
    border-radius: 10px;
    width: calc(50% - 40px);
    color: #f0f0f0;
    /* Light Gray for text */
}

footer {
    text-align: center;
    background-color: hsl(0, 0%, 20%);
    /* Darker for footer */
    color: white;
    /*contrst*/
}

.profile-pic {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #0056b3;
    /* Bright Blue */
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .project {
        width: calc(100% - 40px);
    }
}