/*this css is for creating contacts me page*/
/*----------- Main and Global Styles ----------*/

:root {
    --background-color: #cdcdcd;
    --font-family-default: 'Helvetica', Arial, sans-serif;
    --font-family-heading: 'Abhaya Libre', serif;
    --background-image-url: url('../Images/tech_images/tech8.jpg');
    --hover-background-color: #6a9fe8;
    --active-background-color: #0066ff;
    --box-shadow-color: rgba(0, 0, 0, 0.33);
    --border-color: #0056b3;
    --visited-link-color: #dda0dd;
    --background-color-dark: rgba(77, 84, 89, 0.7);
    --background-color-light: rgba(0, 0, 0, 0.4);
    --text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    --text-color: #cdcdcd;
    --max-content-width: 800px;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    color: var(--background-color);
    font-family: var(--font-family-default);
    background-image: var(--background-image-url);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -------------- Navigation Menu Styles -------------- */

nav#nav_menu {
    text-align: center;
    font-family: var(--font-family-default);
}

nav#nav_menu ul {
    list-style-type: none;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.0);
    border-radius: 25px;
    margin: 0 auto;
    font-family: var(--font-family-default);
}

nav#nav_menu ul li {
    display: inline;
    margin: 0;
    font-family: var(--font-family-default);
}

nav#nav_menu ul li a {
    color: var(--text-color);
    padding: 5px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    margin: 0 2px;
    font-family: var(--font-family-default);
}

nav#nav_menu ul li a:hover {
    background-color: var(--hover-background-color);
}

nav#nav_menu ul li a.active {
    background-color: var(--active-background-color);
}

/* -------------- Hero Section Styles -------------- */

.hero {
    color: var(--text-color);
    text-align: center;
    padding: 15px 20px;
    font-family: var(--font-family-default);
}

.hero_content h1 {
    color: var(--active-background-color);
    /* Name Gold for prominence */
    text-shadow: var(--text-shadow);
    font-family: var(--font-family-heading);
    font-size: 3em;
}

.hero_content p {
    font-size: 1.2em;
    font-family: var(--font-family-default);
}

.learn_more {
    display: inline-block;
    background-color: var(--active-background-color);
    color: var(--text-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-family: var(--font-family-default);
}

.learn_more:hover {
    background-color: var(--hover-background-color);
}

.learn_more:active {
    background-color: #2f5cb3;
}

/* -------------- Featured Projects and Testimonials Styles -------------- */

.featured,
.testimonials {
    padding: 15px;
    text-align: center;
    color: var(--text-color);
    background: var(--background-color-dark);
    margin: 15px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    font-family: var(--font-family-default);
    max-width: var(--max-content-width);
}

.featured h2,
.testimonials h2 {
    color: var(--text-color);
    margin-bottom: 15px;
    font-family: var(--font-family-default);
}

.testimonial {
    margin-bottom: 15px;
    padding: 20px;
    background-color: var(--background-color-light);
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    font-family: var(--font-family-default);
}

.testimonial q {
    font-style: italic;
    display: block;
    color: var(--text-color);
    margin: 10px 0;
    font-family: var(--font-family-default);
}

.testimonial p {
    font-size: 0.9em;
    color: var(--text-color);
    font-family: var(--font-family-default);
}

.projects_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    font-family: var(--font-family-default);
}

.project {
    text-decoration: underline;
    color: var(--text-color);
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 5px;
    --background-color-dark: var(--background-color-dark);
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.project:hover {
    background-color: var(--hover-background-color);
    color: #ffffff;
}

.project:visited {
    color: var(--visited-link-color);
}

/* -------------- Profile Picture Styles -------------- */

.profile-pic {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 3px solid var(--border-color);
    margin-bottom: 20px;
    font-family: var(--font-family-default);
}

/* -------------- Font Awesome Icons Styles -------------- */

.fa-server:before,
.fa-computer-mouse:before {
    font-family: "Font Awesome 5 Free";
    content: "\f233";
}

/* -------------- About Me Section Styles -------------- */

body.about-me {
    text-align: center;
    font-family: var(--font-family-default);
}

.about-me-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-default);
}

#about_me_title {
    text-align: center;
    font-size: x-large;
    color: var(--text-color);
    border-bottom: 2px solid var(--active-background-color);
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: var(--font-family-default);
}

#about_me {
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;


    align-items: flex-start;
    background: var(--background-color-dark);
    color: #E0E0E0;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    max-width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: var(--font-family-default);
}

/* -------------- Quote Styles --------------- */

#quote {
    text-align: center;
    font-family: var(--font-family-default);
}

#quote q {
    font-style: italic;
    color: var(--active-background-color);
    padding-top: 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

/* -------------- LinkedIn Styles -------------- */

#linkedin {
    text-align: center;
    font-family: var(--font-family-default);
}

#linkedin a:visited {
    color: var(--visited-link-color);
    text-decoration: none;
    font-family: var(--font-family-default);
}

#linkedin a:hover {
    font-size: 150%;
    color: #add8e6;
    text-decoration: none;
    font-family: var(--font-family-default);
}

.linkedin-logo {
    width: 50px;
    height: auto;
    vertical-align: middle;
    text-decoration: none;
    font-family: var(--font-family-default);
}

#linkedin a {
    text-decoration: none;
    color: #add8e6;
    font-weight: bold;
    font-family: var(--font-family-default);
}

/* -------------- Work History Section Styles -------------- */

#work_history_title {
    text-align: center;
    color: var(--text-color);
    background-color: transparent;
    font-family: var(--font-family-default);
}

#work_history {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: start;
    padding: 20px;
    margin: 20px 0;
}

.work_history_item {
    background: var(--background-color-dark);
    color: #E0E0E0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#work_history>div {
    background: var(--background-color-dark);
    color: #E0E0E0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 40px;
    position: relative;
}

.work_history_item h2 {
    color: var(--active-background-color);
    margin-bottom: 10px;
}

.work_history_item ul {
    list-style: none;
    padding: 0;
}

.work_history_item p {
    font-weight: bold;
}

#work_history li {
    position: relative;
    padding-left: 20px;
}

.work_history_item li::before {
    content: "• ";
    color: var(--active-background-color);
    font-size: larger;
    margin-right: 5px;
}

#work_history h2,
#work_history p,
#work_history ul {
    text-align: left;
    margin-left: 80px;
}

.small_logo {
    width: 65px;
    height: auto;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#employers_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
    background: var(--background-color-dark);
    padding: 20px;
    border-radius: 10px;
    font-family: var(--font-family-default);
}

/* -------------- Main Content Styles -------------- */

main p {
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--font-family-default);
}

/* -------------- Screenshot Container Styles -------------- */

.screenshot figcaption {
    margin-bottom: 10px;
}

.screenshot_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background: var(--background-color-dark);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.screenshot {
    background-color: transparent;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    flex: 1 0 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screenshot img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.screenshot img:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.code_explanation {
    background-color: var(--background-color);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-family: var(--font-family-default);
    color: black;
    width: 80%;
    box-sizing: border-box;
    text-align: left;
}

/* -------------- Back to Top Button Styles -------------- */

.back_to_top {
    display: block;
    width: auto;
    max-width: 100px;
    background-color: var(--active-background-color);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    margin: 20px auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    font-family: var(--font-family-default);
}

.back_to_top:hover {
    background-color: var(--hover-background-color);
}

.back_to_top:active {
    background-color: #2f5cb3;
}

/* -------------- Footer Styles -------------- */

footer {
    text-align: center;
    padding: .1px 20px;
    color: var(--text-color);
    background: rgba(77, 84, 89, 0.0);
    clear: both;
    border-radius: 10px;
    font-family: var(--font-family-default);
}

/* -------------- Media Queries -------------- */

@media screen and (max-width: 768px) {
    body {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 0.8em;
    }
}