body {
    margin-left: 15%;
    margin-right: 15%;
    background: linear-gradient(to right, #121212, #232323);
    /* Dark theme gradients */
    color: #f0f0f0;
    /* Light text for readability */
    font-family: Arial, sans-serif;
}

nav#nav_menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #333333;
    /* Darker Gray */
}

nav#nav_menu ul li {
    display: inline;
}

nav#nav_menu ul li a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
}

nav#nav_menu ul li a:hover,
nav#nav_menu ul li a.active {
    background-color: #545454;
    /* Medium Gray */
}

main {
    padding: 20px;
}

#work_history,
#employers_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#work_history_title {
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* Light blue for headers */
    margin-top: 0;
    /* Remove default top margin */
    padding-top: 20px;
    /*padding at the top */
}

#work_history>div,
#employers_images>div {
    flex: 1 1 calc(33.33%);
    /* Adjusts for 3 columns*/
    margin: 20px;
    background-color: #1e1e1e;
    /* lighter dark shade for sections */
    padding: 20px;
    box-sizing: border-box;
}

#work_history h2,
#employers_images h4 {
    color: #4a86e8;
    /* Light blue for headers */
    text-align: left;
   
}

small_logo {
    width: 100%;
    max-width: 100px;
    height: auto;
}

footer {
    text-align: center;
    background-color: #333333;
    /* Darker for footer */
    color: white;
    /*contrst*/
}


a {
    color: #4a86e8;
    /*blue for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #dda0dd;
    /* Soft purple for visited links */
}

.back-to-top {
    display: block; /* block-level element */
    text-align: center; /* Centers the text of the block */
    color: #4a86e8; 
    text-decoration: underline; 
    margin: 20px auto; /*vertical spacing and centers the block horizontally */
}

.back-to-top:hover {
    text-decoration: underline; /* Adds underline on hover for better interaction visibility */
}

@media screen and (max-width: 768px) {